cite {
    font-style: italic;
}


footer {
    text-align: center;
    font-size: xx-small;
}

.newslist li {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

.more {
    text-align: right;
}

.article .header {
    float: left;
    width: auto;

    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 1ex;
    margin: 0.5ex;
}

.article .header h4 {
}

.article .header h5 {
    text-align: right;
}

.article .header h5:before {
    color: #999;
    content: "Höfundur: "
}


/* Mummi */


.hero-unit {
  padding: 20px;
  color: #333333
}

p {
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  line-height: 20px;
  color: #40362B;
}

ul.nav li {
  font-weight: bold;
  font-size: 18px;
}

body {
  padding-top: 0px;
  font-size: 16px;
}