@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.eot?") format('embedded-opentype'), url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Italic.eot?") format('embedded-opentype'), url("../fonts/Roboto-Italic.ttf") format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.eot?") format('embedded-opentype'), url("../fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-BoldItalic.eot?") format('embedded-opentype'), url("../fonts/Roboto-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: Roboto, sans-serif;
}

cite {
    font-style: italic;
}


footer {
    text-align: center;
    font-size: small;
}

.newslist li {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

.more {
    text-align: right;
}

.article .header {
    float: left;
    width: auto;

    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 1ex;
    margin: 0.5ex;
}

.article .header h4 {
}

.article .header h5 {
    text-align: right;
}

.article .header h5:before {
    color: #999;
    content: "Höfundur: "
}


/* Mummi */


.hero-unit {
  padding: 20px;
  color: #333333
}

a.external {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;
  padding-right: 13px;
}

body {
  font-size: 15px;
}

blockquote p {
  font-size: 14px;
  line-height: 20px;
  color: #706F6F
}
