<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title>{{ site.root_desc }} - {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 20px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34372642-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

  </head>

  <body>

    <!--[if lt IE 7]>
      <h2>Internet Explorer 6 er úreltur.</h2>
        <p>
          Það eru yfir 10 ár frá því að Internet Explorer 6 kom út. Vefurinn hefur breyst <em>mikið</em> á þeim tíma. Jafnvel Microsoft hefur komist að þeirri niðurstöðu að IE6 sé til trafala, og halda úti <a href="http://www.ie6countdown.com/">síðu sem miðar að því að útrýma honum</a>.
        </p>
        <p>
          Hægt er að uppfæra Internet Explorer í útgáfu 8 &endash; eða skipta yfir í annan vafra. Hér eru nokkrir vinsælir kostir:
        </p>
        <ul>
          <li><a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></li>
          <li><a href="http://www.getfirefox.com">Mozilla Firefox</a></li>
          <li><a href="http://www.opera.com/download/">Opera</a></li>
          <li><a href="https://www.apple.com/safari/download/">Apple Safari</a></li>
          <li><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-8">Microsoft Internet Explorer 8</a></li>
        </ul>
      </body></html>
    <![endif]-->

<div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <img src="/static/img/logo20.png" height="20px" style="position: absolute;">
            <span style="margin-left: 20px">Opinn aðgangur</span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown" id="um">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#um">Um opinn aðgang <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/hvad-er">Hvað er OA?</a></li>
                  <li><a href="/saga">Saga</a></li>
                </ul>
              </li>
              <li><a href="/af-hverju">Af hverju?</a></li>
              <li><a href="/island">OA á Íslandi</a></li>
              <li><a href="/algengar-spurningar">Algengar spurningar</a></li>
              <li><a href="/itarefni">Ítarefni</a></li>
              <li><a href="/um">Um okkur</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container">

      {{ content | markdownify }}

      <hr>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

      <footer>
  <div class="row">
    <div class="span6">
        <p style="text-align: left;">
          &copy; {{ site.time | date: '%Y' }} <a href="/um">Áhugahópur um opinn aðgang á Íslandi</a>. Notkun efnis á síðunni er heimil samkvæmt skilmálum <a class="external" rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 leyfis</a> nema annað sé tekið fram.
        </p>
    </div>
    <div class="span6">
        <p>
          Hýst á vegum <a  class="external" href="http://www.landsbokasafn.is">Landsbókasafns Íslands - Háskólabókasafns</a>.
        </p>
        <a href="http://www.landsbokasafn.is"><img src="/static/img/lbslogo.png" height="20px"></a>
    </div>
  </div>

      </footer>

    </div> <!-- /container -->

  </body>
</html>
